

*{

    box-sizing: border-box;
}
body{

    margin: 0;
    padding: 0;
}


/*flex  */
.flex{
    display: flex;
    justify-content: space-between;
}
/*flex  */

/*container*/
.container{
    width:90%;
    margin: 0 auto;
}


.header{
    background-color: rgb(0, 0, 0);
    height: 32px;
    color: #ffff;
    padding: 10px 20px;
    font-size: 15px;
    position: fixed;
    width: 100%;
    z-index: 2;

}
.content{

    min-height: 935px;
    position: relative;
    margin: 0;
    padding: 79px 40px 32px 310px;
    overflow: hidden;
    color: #ffff;
    background-color: #F6F7F7;
}

#nav-list{

   position: fixed; 
   top:32px;
   bottom: inherit;
   overflow: initial;
   height: 600px;
   background-color:#1A1E23;
   width:270px ;
   color: #fff;
   left: 0;
}
.side-bar ul{
    margin:20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.side-bar ul li{
    

    padding: 0px;
}

.side-bar ul li a{
    display: flex;
    justify-content:start;
    padding:15px  8px;
    margin: 0 8px;
    cursor: pointer;
    
}


.side-bar ul li a .icon{
    width:15px;
    margin-right: 10px;
    color: #dddd;
   
}




svg{

    width: 100%;
    height: 100%;
}

.side-bar ul li:hover {
background-color: rgba(0, 0, 0, 0.205);
color: #00b9eb;
border-left:#00b9eb 5px solid;

}

.side-bar ul li:hover a{

    padding-left: 3px;
    color:#00b9eb; 
}


.side-bar ul li a:hover .icon {
    color:#00b9eb;

}

#panale{

    color: #000;
}

#posts-admin{

    -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
#panale #posts-admin h1{
  margin: 0;
    font-size: 25px;
    font-weight: 500;
}

#panale #posts-admin p{

    margin:8px 0;
    color: rgba(0, 0, 0, 0.733);
}

.post-list {

    margin-top: 40px;
    background-color: #fff;
}

.post-list .header-list{
display: flex;
justify-content: space-between;
background-color: #fff;
padding: 15px;

}
.post-list .header-list a{

    padding: 7px;
    background-color: #c9356e;
    color:#ffff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:unset;
}

.post-list .header-list span{

    line-height: 32px;

     box-sizing: border-box;
}


/* edit page */



/*nav list post admin adit */

.nav-post{
    background-color:   #1A1E23;
  }
  .list-nav{
  
      padding: 10px;
  }
  
  .edit-post{
  
      margin-top: 100px;
  }
  
  
  
  .title {
     
  
      text-align: center;
      width:70%;
      margin: 0 auto;
      margin-bottom: 20px;
  }

  


  .post-item{

    display: flex;
    justify-content: space-between;
    border-top: 1px #ddd solid;
    padding: 15px;
    background-color: #fff;
    }
    
    
    .post-item h1{
    margin: 0;
        
        }
    
        .post-item a{
    
            text-decoration: none;
            color:#7b7a7a;
        }
        
    
        .post-item  a{
    
            cursor: pointer;
           
        }
    
        .post-item .info-post{
    
            font-size: 30px;
        }
        .post-item .info-post:hover{
            -ms-transform: rotate(90deg); /* IE 9 */
            transform: rotate(-90deg);
        }
       
    /*post item */

.text-post{
    text-align: center;
    width:70%;
    margin: 100px auto;
    
            
    
}

.edit-post textarea {
    z-index: 2; 
    border: none;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
    font-size: 30px;
    text-align: center;
   
}



.edit-post #title-post-content{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}


.edit-post #text-post-content{
    font-size: 30px;
    min-height: 100px;
    padding: 10px;
    text-align: left;

    
}


#text-post-content span[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
  }

/* #text-post-content[placeholder]:empty:focus::before {
    content: "";
} */
/* span {
    position: absolute;
    top: 100px;
    left: 2px;
    padding: 1px;
    
} */
/*nav list post admin adit */





#editorjs{

margin-top: 50px;
}


.image-post-edit{
margin: 5px;
text-align: center;

}

.image-post-edit img{
width:500px;
}



/* post */

/* #content-bloge{

} */




/*my home */

.status{

    display: flex;
    justify-content: start;

}


.status div {
    margin: 20px;
padding: 70px 120px;
background-color:#31A3BA;
border-radius: 10px;


}

.status .likes{

    background-color: #53AE3C;
}
.status svg{
    display: block;
    width: 30px;
}
.status div span{

    font-size: 40px;
    color: #ffff;
}




